.product {
  width: 300px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}

.product img {
  width: 286px;
  height: 286px;
  border-radius: 8px;
  margin: 7px;
}

.product h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  padding: 0px;
  margin: 0px;
}

.product-info {
  margin: 10px;
}

.addToCart {
  padding: 10px;
  width: 100%;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;

  position: absolute;
  bottom: 0px;
}
.addToCart:hover {
  background-color: orange;
}

@media (min-width: 577px) and (max-width: 999px) {
  .product {
    width: 250px;
  }

  .product img {
    width: 236px;
  }
}
