.Shop {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.productContainer {
  margin: 50px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 576px) {
  .Shop {
    grid-template-columns: 1fr;
  }
  .productContainer {
    grid-template-columns: 1fr;
  }
}
